* {
    padding: 0px;
    margin: 0px;
}

.first {

    /* border: 0px solid transparent; */
    height: 100vh;
    /* width: 98vw; */
    background: url(/pics/home.jpg) no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;

}

nav {

    /* border: 2px solid green; */
    height: 15vh;
    /* width: 98vw; */
    padding-top: 4vh;

}

.btn {

    /* border: 2px solid blue; */
    border-radius: 75px;
    margin-left: 85vw;
    height: auto;
    width: 7vw;
    align-content: center;
    display: flex;
    align-items: center;
    background: red;
    justify-content: center;
    text-decoration: none;
    transition: transform .4s;
    font-weight: bold;
    padding: 2.5vh;
    color: aliceblue;
    margin-top: 3vh;

}

.btn:hover {
    transform: scale(1.15);
}


.about {

    height: auto;
    /* width: 98vw; */
    background: #191919;
    /* padding: auto ; */
}

.aboutpic {

    width: 40vw;
    padding-left: 5vw;
    padding-top: 12vh;
    padding-bottom: 12vh;


}



.service {
    /* border: 5px solid red; */
    background: #101010;
    /* width: 98vw; */
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;

}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact-me {
    /* width: 98vw; */
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    /* border: 2px solid transparent; */
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer {
    position: relative;
    /* width: 98vw; */
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}

.myreferal{

    /* text-decoration: none; */
    color: red;
}

/* .myytclass{

    a;

} */